site_name: AI/ML Engineer Portfolio
extra:
  social:
    - icon: fontawesome/solid/paper-plane
      link: mailto:lakshmi.4296@gmail.com
      name: Email Me
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/lakshmi-subramanian-b1700b268/
      name: LinkedIn
    - icon: fontawesome/brands/github
      link: https://github.com/lakshmi4296/
      name: GitHub
    - icon: fontawesome/solid/graduation-cap
      link: https://scholar.google.com/citations?user=YHc_DToAAAAJ&hl=en
      name: Google Scholar
site_url: https://lakshmi4296.github.io/portfolio/
site_author: Lakshmi Subramanian
site_description: Portfolio of an AI/ML Engineer showcasing projects and skills.



theme:
  name: material
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: indigo
      accent: purple
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      primary: indigo
      accent: lime
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
    - toc.integrate
  icon:
    logo: material/robot

nav:
  - Home: index.md
  - Resume: resume.md


plugins:
  - search

markdown_extensions:
  - md_in_html
  - attr_list
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - pymdownx.arithmatex:
      generic: true

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
